
<!DOCTYPE html><html><head><link rel='stylesheet' href='/public/style.css'></head>
<body><%- include("../partials/cabecalho") %>
<div class='box'><h2>Login</h2>
<form action='/admin/dashboard'><button>Entrar</button></form>
</div></body></html>
