<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campo do Gado — Sistema de Manutenção</title>

    <link rel="stylesheet" href="/css/inicio.css">

    <!-- Font Awesome -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>

    <div class="overlay"></div>

    <div class="container">

        <!-- LOGO -->
        <img src="/img/logo.png" class="logo">

        <!-- TÍTULO -->
        <h1 class="title">Campo do Gado</h1>
        <h2 class="subtitle">Sistema de Manutenção</h2>

        <!-- BOTÃO -->
        <a href="/login" class="btn-enter">
            Entrar no Sistema <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>

</body>

</html>
