.mobile-body {
    background: #f1f1f1;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.mobile-container {
    max-width: 500px;
    margin: 0 auto;
}

.mobile-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 5px;
}

.mobile-sub {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.mobile-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile-btn {
    background: #048a4c;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.mobile-btn:hover {
    background: #036f3d;
}
