
body{background:#eef;font-family:Arial;margin:0;}
.box{background:white;padding:20px;margin:20px;border-radius:10px;}
button{background:#0a5723;color:white;padding:10px;border:none;border-radius:5px;}
