/* ======== RESET ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e4efe6;
}

/* ======== LAYOUT ======== */
.layout {
    display: flex;
    height: 100vh;
}
.tag.admin {
    background: #0d6efd;
}

.tag.funcionario {
    background: #198754;
}

.tag.operador {
    background: #ffc107;
}

/* ======== SIDEBAR ======== */
.sidebar {
    width: 230px;
    background: #1f5f3d; /* verde médio */
    display: flex;
    flex-direction: column;
    color: white;
}

.sidebar-header {
    background: #4caf50; /* verde claro */
    padding: 18px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.sidebar-menu a {
    padding: 12px 18px;
    text-decoration: none;
    color: #e8f5e9;
    display: block;
    font-size: 15px;
}

.sidebar-menu a:hover {
    background: #2e7d50;
}

.sidebar-menu .active {
    background: #145235;
    font-weight: bold;
}

/* ======== MAIN AREA ======== */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* TOPBAR */
.topbar {
    background: #7ddc88;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #1b3b2b;
    border-bottom: 1px solid #b9d6bf;
}

/* CONTENT AREA */
.content {
    padding: 25px;
    flex: 1;
    overflow-y: auto;
}

/* CARDS PADRÃO */
.card {
    background: #f4f6f4;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d0d8d0;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 8px;
    color: #1b3b2b;
}

/* FOOTER */
.footer {
    background: #e3e5e3;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #cbd3cb;
}
