<!DOCTYPE html>
<html>
<head>
  <title>Abrir OS</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

<h2>Abertura de OS – <%= equip.nome %></h2>

<form action="/funcionario/abrir_os" method="POST" enctype="multipart/form-data">

  <input type="hidden" name="equipamento_id" value="<%= equip.id %>">

  <label>Descrição do problema:</label>
  <textarea name="descricao" required></textarea>

  <label>Foto do defeito:</label>
  <input type="file" name="foto_antes">

  <button type="submit">Enviar OS</button>
</form>

</body>
</html>
